.clickable {
    cursor: pointer;
}

.text-left-align {
    text-align: left;
}

#sortBar {
    width: 10vw;
    min-width: 25rem;
    float: right;
}

#sortBar, #filterBar {
    display: none;
}

#sortBar *, #filterBar * {
    font-size: .85rem;
}

#filterBarMobileHeading[aria-expanded=true], #sortBarMobileHeading[aria-expanded=true] {
    background-color: var(--bs-dark);
    transition: background-color .2s;
}

#tagFilterDropdown, #ingredientFilterDropdown {
    min-height: 5rem;
    max-height: 40vh;
    overflow-y: auto;
}

.dropdown-menu {
    padding: 1rem;
}

button.accordion-button::after {
   display: none;
}


@media (min-width: 1200px) {  /* this value may need to be adjusted */
    #sortBar, #filterBar {
        display: flex;
    }
    #sortBarMobile, #sortBarMobileHeading, #filterBarMobile, #filterBarMobileHeading {
        display: none;
    }
}
