.private-profile {
    font-size: 1em;
    margin-top: 2em;
    text-align: center;
}

.private-profile i.private-profile-icon {
    color: #6c757d;
    text-shadow: 2px 2px 2px black;
}

.private-profile-text-title {
    font-size: 1.5em;
    margin-top: 1.2em;
    font-weight: 500;
}

.private-profile-text {
    margin-top: 1em;
}
