#create-recipe-stepper {
    width: 75%;
    margin-left: 12.5%;
    margin-top: 2rem;
    margin-bottom: 8rem;
}

#pageTitle {
    margin-top: 8rem;
    width: 75%;
    margin-left: 12.5%;
}

#create-recipe-stepper > div.card-body > div:first-of-type {
    width: 87%;
    left: 6.5%;
    margin-bottom: 6rem;
}

#create-recipe-stepper div.progress {
    height: 2px;
}

#create-recipe-stepper div.progress + ul > li > button {
    height: 2.5rem;
    width: 2.5rem;
}

#create-recipe-stepper ul:last-of-type > li {
    bottom: -6rem;
    color: grey;
}

#create-recipe-stepper button[disabled] {
    color: grey;
    background-color: var(--bs-light);
    border: none;
    opacity: 1;
}

#create-recipe-stepper button[active] {
    transform: scale(1.2);
    transition: transform .2s;
}