
.area-title-col {
    min-width: 12em;
}

.area-title {
    margin-bottom: 1em;
}

.profile-image {
    height: 15em !important;
    width: 15em !important;
    object-fit: cover;
    margin: auto;
}

.cover-photo-area {
    overflow: hidden;
    min-width: 19em;
}

.cover-photo-area img {
    height: 250px;
}

.edit-photo-button {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}

@keyframes edit-photo-button-anim {
    from {transform: rotate(0deg);}
    to {transform: rotate(180deg);}
}

.edit-photo-button:hover {
    animation: edit-photo-button-anim 0.5s;
}

@media (max-width: 800px) {
    div.row div.col:not(:first-child) .area-title-row  {
        margin-top: 2em;
    }
    .edit-profile-button-col {
        text-align: center!important;
    }
}

@media (min-width: 970px) {
    .profile-photo-button-col {
        text-align: start!important;
    }
}

input[name="myfile"] {
    display: none;
}

.edit-profile-text-input {
    border-radius: 15px;
}

.submit-button {
    width: 12em;
    padding: 0.5em;
}
