html, body, .container, .row.mt-5 {
    height: 98%;
}

.welcome-msg {
    color: black;
    margin: auto;
    background-color: white;
    padding: 2em;
    border-radius: 1em;
}

div.signIn-img {
    background-image: url("../images/signIn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 2em;
}

div.signIn-left-text {
    width: 15em;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.signIn-form {
    padding-top: 10em;
    padding-left: 5em;
}

.signUp-a {
    text-decoration: none;
}

/* hr */

.separator {
    color: gray;
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid gray;
}

.separator:not(:empty)::before {
    margin-right: .75em;
}

.separator:not(:empty)::after {
    margin-left: .75em;
}

.g-signin2 > div{
    margin: 1em auto;
}

@media (max-width: 1199.98px) {
    div.signIn-img {
        height: 50%;
    }

    div.signIn-form {
        padding: 0em 2em;  
    }
}
