div.progress {
    height: 2px;
}

ul:last-of-type > li {
    bottom: -6rem;
    color: grey;
}

div.progress + ul > li > button {
    height: 2.5rem;
    width: 2.5rem;
}

div.progress + ul > li > button[active] {
    transform: scale(1.2);
} 

div.progress + ul > li > button[disabled] {
    opacity: 1;
}

div.progress + ul > li > button[disabled] {
    background-color: var(--bs-secondary);
} 

div.sign-form {
    padding-top: 5em;
    /* padding-left: 5em; */
}

img.file-input {
    height: 6vw !important;
    width: 6vw !important;
    object-fit: cover;    
}

strong.finish-msg {
    font-size: 5em;
    color: var(--bs-secondary);
}

@media (max-width: 991.98px) {
    img {
        height: 25vw !important;
        width: 25vw !important;
    }
}