div.progress {
    height: 2px;
}

ul:last-of-type > li {
    bottom: -6rem;
    color: grey;
}

div.progress + ul > li > button {
    height: 2.5rem;
    width: 2.5rem;
}

div.progress + ul > li > button[active] {
    transform: scale(1.2);
} 

div.progress + ul > li > button[disabled] {
    opacity: 1;
}

div.progress + ul > li > button[disabled] {
    background-color: var(--bs-secondary);
} 

div.sign-form {
    padding-top: 5em;
}

img.file-input {
    height: 6vw !important;
    width: 6vw !important;
    object-fit: cover;    
}

strong.finish-msg {
    font-size: 5em;
    color: var(--bs-secondary);
}

@media (max-width: 991.98px) {
    div.sign-form {
        padding-top: 3em;
    }

    p.progress-caption {
        width: 75px;
        height: 30px;
    }
}

@media (max-width: 1199.98px) {
    img.file-input {
        height: 20vw !important;
        width: 20vw !important;
    }

}