.members-box {
    max-width: 25em;
    margin-top: 1.6em !important;
}

.button-area button {
    max-width: 16rem;
}

.personal-info i {
    margin-right: 0.5em;
}

#memberRequests .small-profile-photo {
    width: 3.2rem;
    height: 3.2rem;
}

#memberRequests .card {
    font-size: .9rem;
}
