<div class="row g-3 mb-3">
    <div class="col-lg">
        <div class="row g-3">
            <div class="col-sm">
                <div class="form-floating">
                    <input type="number" class="form-control" placeholder="0" aria-label="Quantity" id="quantityInput">
                    <label for="quantityInput">Quantity</label>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-floating">
                    <select class="form-select" id="quantityUnitSelect" aria-label="Quantity unit">
                        <option selected>-</option>
                        <option value="1">table spoon</option>
                        <option value="2">gram(s)</option>
                        <option value="3">kilo(s)</option>
                    </select>
                    <label for="quantityUnitSelect">Unit</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg">
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Tomato">
            <label for="floatingInput">Name</label>
        </div>
    </div>
</div>