.people-box .row {
    justify-content: center;
}

.people-box .small-profile-photo {
    width: 4rem;
    height: 4rem;
}

.people-box .small-group-photo {
    border-radius: 10%;
    margin-right: 1rem;
}