body {
    height: 2000px;
}

@media (min-width: 992px) {
    .navbar .normalize {
        flex-basis: 0px;
    }

    .navbar li .legend {
        font-size: 0.7em;
        margin-left: 0.1em;
    }
}

.dropdown-toggle::after {
    display: none;
}