.recipe-post {
    margin: 2em;
    margin-left: 30%;
    margin-right: 30%;
    padding: 0em;
    padding-top: 0;
    max-width: 65em;
    border: 5px solid grey;
    position: relative;
}

.name-and-date {
    margin-bottom: 0em;
    padding: 1em;
    width: 25em;
}

.name-and-date img {
    width: 7em;
}

.avatar-image {
    max-width: 8.5em;
}

.publication-date {
    color: #6c757d!important;
}

.post-options {
    background-color: aliceblue;
    justify-content: end;
    justify-self: end;
    justify-items: end;
    width: 3em;
    position: absolute;
    right: 1.5em;
}

.dropdown {
    width: 3em;
    justify-content: end;
    justify-self: end;
    justify-items: end;
}

.post-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 170px;
    -webkit-line-clamp: 7; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.text-muted {
    margin-top: 2em;
}

.post-footer {
    /* background-color: rgb(181, 255, 112); */
}

.post-button {
    width: 33.3%;
    border-top: 3px solid #6c757d!important;
    padding: 0.5em;
}

.post-button:not(:last-child) {
    border-right: 4px solid #6c757d!important;
}