
#privateMessages {
    width: 50%;
    margin-left: 25%;
    margin-top: 10rem;
}
#privateMessages .row:not(:first-of-type) {
    height: 60vh;
}

#privateMessages .col {
    border: 1px solid lightgrey;
}



#messageTextarea {
    width: calc(100% - 2rem);
    left: 1rem;
    position: absolute;
    bottom: 1rem;
}

