/* .rating {
    font-size: 3rem;
}

.rating-number {

}

.yellow-star {
    color: yellow;
    border: 2px solid black;
}

.grey-star {
    color: grey;
    border: 2px solid black;
} */


.fa.fa-star {
    font-size: 40px;
    cursor: pointer;
}