:root {
    --default-background-color: white;
}

h2 {
    padding: 1rem;
}

.instruction h3 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.instruction h3 i {
    font-size: 1.2em;
    margin-right: 0.5em;
}

.instruction h3.collapsed {
    color: green;
}

.instruction .card {
    border: 0;
}

#comments .card {
    border: 0px;
    text-align: left;
}

.icon-box {
    margin-top: 0.5em;
    padding: 0px;
    line-height: 1em;
    text-align: center;
    border: 1px solid black;
}

.icon-box i {
    margin: 0px;
    position: relative;
    top: -0.5em;
    display: inline-block;
    background-color: var(--default-background-color);
    padding: 0 0.2em;
}