:root {
    --input-spacing: 1em;
}

/*
    textarea with button
*/
.text-area-with-button input[type="submit"] {
    float: right;
    position: relative;
    translate: 0 calc(-100% - var(--input-spacing));
    margin-right: var(--input-spacing);
}