@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --content-width: 65vw;
    --content-margin: calc((100vw - var(--content-width))/2);

    --margin-from-nav: 3rem;
    --margin-to-footer: 6rem;

    --exceptional-accent-color: rgb(245, 139, 18);
    --accent-color: #009245;
    --accent-color-darker: #006837;
    --accent-color-lighter: #a8d6c0;
}

a:hover {
    color: var(--accent-color-darker);
}

.margin-from-nav {
    margin-top: var(--margin-from-nav);
}

.margin-to-footer {
    margin-bottom: var(--margin-to-footer);
}

.content-general-margin {
    width: var(--content-width);
    min-width: var(--content-width);
    margin-left: var(--content-margin);
}

.content-general-padding {
    padding-left: var(--content-margin);
    padding-right: var(--content-margin);
}

.fa-star.active {
    color: var(--accent-color);
}

@media (max-width: 1500px) {
    :root {
        --content-width: 80vw;
    }
}

@media (max-width: 1000px) {
    :root {
        --content-width: 90vw;
    }
}

.form-required:before {
    content: "*";
    color: gray;
}

.progress-bar {
    background-color: var(--accent-color-lighter) !important;
}

.bg-primary {
    background-color: var(--accent-color) !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem var(--accent-color-lighter) !important;
    border-color: var(--accent-color);
}

.form-select:focus {
    box-shadow: 0 0 0 0.25rem var(--accent-color-lighter) !important;
    border-color: var(--accent-color);
}

.btn-primary {
    background-color: var(--accent-color) !important;
    border-color: var(--accent-color-darker) !important;
    transition: all .2s !important;
}

.btn-primary[disabled] {
    color: white !important;
    background-color: var(--accent-color-lighter) !important;
}

.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus {
    box-shadow: 0 0 0 0.25rem var(--accent-color-lighter) !important;
}

.btn-primary:hover {
    background-color: var(--accent-color-darker) !important;
} 

.btn.btn-no-shadow {
    box-shadow: none !important;
}
.btn.btn-no-shadow:focus {
    color: gray;
}

a {
    color: var(--accent-color);
    transition: color .2s;
}

body {
    overflow-x: hidden;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

/* important because events in descendants were causing tooltips bugs */
.has-tooltip * {
    pointer-events: none !important;
}
